[submodule "adiwg-json-schemas"]
	path = adiwg-json-schemas
	url = https://github.com/adiwg/adiwg-json-schemas.git
[submodule "lib/filereader"]
	path = lib/filereader
	url = https://github.com/jlblcc/filereader.js.git
[submodule "lib/tv4"]
	path = lib/tv4
	url = https://github.com/jlblcc/tv4.git
[submodule "lib/jsonpointer"]
	path = lib/jsonpointer
	url = https://github.com/alexeykuzmin/jsonpointer.js.git
[submodule "lib/d3"]
	path = lib/d3
	url = https://github.com/mbostock/d3.git
