/***Variables***/
$error-color: #FFE3E3;
$valid-color: #CBFCCB;

/***General***/
html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 900;
  padding-top: 5em;
  background-color: #FFF;
  z-index: 1000;

  div {
    padding-top: 5em;
  }
}

p.ui-content.error-message {
  min-width: 10em;
  text-align: center;
}

.schema-version {
    padding-left: 3px;
    font-size: .7em;
    font-weight: 500;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

        /******Viewer*******/
#main-body {
  position: relative;
}

#schema-path {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#zoom-controls {
  position: absolute;
  top: 15px;
  left: 10px;
}

#legend-container {
  width: 200px;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: .9em;

  #search-result {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 15em;
  }
}

#jsv-tree {
  display: block;
}

.node {
  cursor: pointer;
}

.overlay {
  background-color: inherit;
}

.node circle, #legend circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle.collapsed, #legend circle.collapsed {
  fill: lightsteelblue;
}

.node .abstract, #legend .abstract {
  font-style: italic;
}

.node.label {
  cursor: default;
}

.node.label circle, .node.label circle:hover {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node text {
  font-size: 14px;
  font-family: sans-serif;
}

.node text:hover {
  text-decoration: underline;
}

.node.label text:hover {
  text-decoration: none;
}

.node.focus, #legend .focus {
  font-weight: bold;
}

.node.focus circle, #legend .focus circle {
  stroke: #0ECC43;
  stroke-width: 2px;
}

.node circle:hover, .focus circle:hover {
  stroke-width: 3px;
}

.deprecated {
  color: orange;

  text {
    fill: orange;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#info-panel .ui-title {
  margin: 0 20%;
}

#info-panel .info-tab {
  overflow: hidden;
}

div#info-tab-def.info-tab, #info-panel .info-tab pre {
  overflow: auto;
}
#info-panel .info-tab .highlight {
  color: green;
  font-weight: 900;
}

        /*****Validator*****/
#textarea-json {
  height: auto !important;
  overflow-y: auto;
}

#validator-page {
  height: 100%;
}

#validator-page .section {
  padding: 1em;
}

#validator-page .drag {
  background-color: #CBFF8B;
}

#validation-results {
  background-color: $valid-color;
}

#validation-results.error {
  background-color: $error-color;
}
      /*****Buttons******/
.ui-icon-github:after {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAh3pUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjadY7LDcMwDEPvmiIj6GfKGqcIEqAbdPzIcAyf+g4SQQgU6fp9bzoGwkreoiMBLjw99VOi88SYRVnGrjl5t0kp3TaZToHswb4P/fUXzdBxh0eg4cSpla6XiWnNekQjlUeN3CHiq9Eff7V4AEBcLBcPpWcfAAAL6GlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNC40LjAtRXhpdjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIgogICAgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIKICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIKICAgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFNTE3OEEyQTk5QTAxMUUyOUExNUJDMTA0NkE4OTA0RCIKICAgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFNTE3OEEyQjk5QTAxMUUyOUExNUJDMTA0NkE4OTA0RCIKICAgZXhpZjpQaXhlbFhEaW1lbnNpb249IjIwIgogICBleGlmOlBpeGVsWURpbWVuc2lvbj0iMjAiCiAgIHRpZmY6SW1hZ2VXaWR0aD0iMSIKICAgdGlmZjpJbWFnZUhlaWdodD0iMjAiPgogICA8eG1wTU06RGVyaXZlZEZyb20KICAgIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RTUxNzhBMjg5OUEwMTFFMjlBMTVCQzEwNDZBODkwNEQiCiAgICBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkU1MTc4QTI5OTlBMDExRTI5QTE1QkMxMDQ2QTg5MDREIi8+CiAgPC9yZGY6RGVzY3JpcHRpb24+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBhY2tldCBlbmQ9InciPz4j0Ue0AAAABHNCSVQICAgIfAhkiAAAAkhJREFUOMuN1MGLVXUUB/DPvW808T5zDN57puSkmxTDClpkIIaFm2na6KJN7RKFVgq6EAmpqNBFEdQ/oK1qE6QoERKCEg66KERhCCrU+66E1dw3PadRF50Lt+sQ7wsX7u/8fuf7O+f8vuckFkGv030SL+M1PIc1sZVjGqdxFjN50f+Pb9IgWo4pHMImLLM47uI6juPLvOiXDxH2Ot2VeBd78IjRcBcnsT8v+negVYvsA7yFFAMsbWZQw33Mhv8WrGpn2flyUA5b0M6yXRHdMnyLw7iDpzHEb/gdS4LwRATQxuYg/bUclNNJr9PdgK/wbBx+D+9EpF38FakJwkdRYB4H8VHsXcPkGF6JB6hSWQF50f8HNxqpDiPVqu4rwifBeuxMQxrVI9zGN7g34qOcwc34X4qpNHRWYQbnm9r6H1zCT7X1Myl6NUORF/25Udnyov836rf30saZ8V6nm45KGGdX1W0pbtXWqzHR63RH5VwbX4VbKS7WDBM1cY+CN7Gxtv5hDKcwGboqsC/S+SIE/Wde9O+FLcE4Hsdu7K8pZIjTYzE1fsQT+BhbYzi8ge9wIOQkNPoJtsf5pKGQM2MRxfvRTm9HGgmewtXolApz0efrGqkP8CF+aZWDUjvLfo7bX4r6HcXXOIeyHPw7ndpZdh8vYlujez7D53nRn29BOSgX2ln2fUS2F6/i+Zgml2uECXbUCGfxKY5U+k1rIh3iGF7HH1GnDYuMsIUow6Uoz9HwfXhi1wT7GF6I4XClasXQ55aQ1wXcbrbpA0Q6r3xz6o6vAAAAAElFTkSuQmCC);
  background-size: 20px 20px;
  background-color: rgb(245, 245, 245);
}

        /*****JQM Overrides*****/
.ui-icon-loading {
  background: none !important;
}

@import 'highlight';
@import 'welcome';
@import 'logo';
@import 'panel';